*{
			box-sizing: border-box;
	}
	.navbar{
    padding: .2rem 1rem;
}
  .dropdown-menu{
    background-color: #343a40;
  }


.navbar-light .navbar-nav .nav-link:hover {
    color: white!important;
    border-bottom: 2px solid #0cb8b6!important;
}

  .dropdown-item {
    color: #ff9900;
  }

  .navbar-light .navbar-nav .active>.nav-link {
      color: #ff9900;
  }  
  .navbar-light .navbar-nav .active>.nav-link:hover {
      color: white;
  }
  .nav-link {
      color: #ff9900;
  }
  .nav-link:hover {
    color: white;
    border-bottom: 2px solid #0cb8b6;
}

li{
  list-style-type: none;
}
	

	body, html {
		height: 100%;
		overflow-x: hidden; 
	}
	.bg {
		background-image: url("../resources/AboutUs.jpg");
		height: 25vw;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	<!-- .about_us{ -->
		<!-- color:red;	 -->
		<!-- padding-top:8vw; -->
		<!-- font-size:7vw; -->
	<!-- } -->

	.goal{
		float:left;
		margin-top:6%;
		margin-below:30%;	
	}
	.centered{
		text-align: center;
	}
	.goal_stat{
		line-height:2.8;
		font-size:1.6vw;
		padding-bottom: 10%
	}
	.seperator{
        border : 1px solid #ff9900;
		top-margin:40%;
    }
	
	.top-margin{
        margin-top:10%;
		padding-bottom:10%;
    }

    .margin{
        margin: 0px  60px 0px 60px; 
    }
	.text{
		font-size:1vw;
	}
	.heading{
		font-size:2vw;
		padding-top:4.5%;
	}
	.our_story{
		font-size:3vw;
		padding-top:3%;
	}
	.mission{
		height:25vw;
		margin-top:10.5%;
		padding-bottom:5%;
		padding:0 7% 0 7%;
	}
	
	.our-story2{
		height:50vw;
		margin-top:10.5%;
		padding-bottom:5%;
		padding:0;
	
	}
	.mission_stat2{
		background:url("../resources/dr-bg-blur.jpg");
		transition: background 1.5s;		
	}
	
	}
	
	.core_values_head{
		
		padding-bottom:7%;
	}
	.icon{
		font-size:10vw;
		color:black;
	}
	.icon:hover{
	color:#ff9900;
	transition:1s;
	}
	
	.icon-div{
		padding-bottom:4%;
	}
	.icon-description{
		font-size:1.5vw;
	}
	
	.bg2 {
		background-image: url("../resources/cover_aboutus.jpg");
		height: 30vw;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.bg3 {
		background-image: url("../resources/cover_aboutus.jpg");
		height: 30vw;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.ocean {
        height: 5%;
        width: 100%;
    }

    .wave {
        background: url(../resources/wave.svg) repeat-x;
        width: 6400px;
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
        animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);
    }

    .wave:nth-of-type(2) {
        margin-top: -150px;
       
        animation: wave 9s cubic-bezier(0.46, 0.60, 0.43, 0.53) -.125s infinite, swell_2 7s ease -1.25s infinite;
        opacity: 1;
        height: 140px;
    }

    .wave:nth-of-type(1) {
        z-index: 1;
        height: 180px;
        opacity: 0.7;
        animation: swell_1 5s ease -1.25s reverse infinite, wave 13s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite
    }

    @keyframes wave {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: -1600px;
        }
    }

    @keyframes swell_2 {

        0%,
        100% {
            transform: translate3d(0, 0px, 0);
        }

        50% {
            transform: translate3d(0, 5px, 0);
        }
    }

    @keyframes swell_1 {

        0%,
        100% {
            transform: translate3d(0px, 0px, 0);
        }

        50% {
            transform: translate3d(0px, 5px, 0);
        }
	